/* --- RESET Y ESTRUCTURA BASE --- */
/* --- CURSORES --- */
p, span, h1, strong {
  cursor: default;
}

/* --- CONTENEDOR PRINCIPAL DE LA APP --- */
/* .app-main-wrapper {
  position: relative;
  width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* Forzamos que Toastify esté por encima del brillo (que tiene z-index 9999) */
.Toastify__toast-container {
  z-index: 99999 !important; /* Prioridad absoluta sobre el menú y todo lo demás */
  top: 120px !important; /* Un nivel por encima del global-glow */
}

.Toastify__toast {
  /* Opcional: un poco de transparencia para que no desentone con el modo oscuro */
  background-color: rgba(18, 18, 18, 0.95) !important;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

/* Centrado para el panel de Admin cuando se carga dentro del wrapper */
.admin-panel, .autor-page {
  margin-left: auto !important;
  margin-right: auto !important;
  background-color: transparent !important; /* Evita que el fondo del componente tape la malla */
}

/* Ajuste para que las tarjetas de los componentes no sean totalmente opacas */